-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: gutdb
-- ------------------------------------------------------
-- Server version	5.7.26

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `diseases`
--

DROP TABLE IF EXISTS `diseases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `diseases` (
  `Disease_id` varchar(10) NOT NULL,
  `Disease_name` varchar(255) NOT NULL,
  `DOID` varchar(50) DEFAULT NULL,
  `Description` text,
  PRIMARY KEY (`Disease_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diseases`
--

/*!40000 ALTER TABLE `diseases` DISABLE KEYS */;
/*!40000 ALTER TABLE `diseases` ENABLE KEYS */;

--
-- Table structure for table `foodsources`
--

DROP TABLE IF EXISTS `foodsources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `foodsources` (
  `Food_id` varchar(10) NOT NULL,
  `Food_name` varchar(255) NOT NULL,
  `Category` varchar(100) DEFAULT NULL,
  `Nutrient_content` text,
  PRIMARY KEY (`Food_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foodsources`
--

/*!40000 ALTER TABLE `foodsources` DISABLE KEYS */;
/*!40000 ALTER TABLE `foodsources` ENABLE KEYS */;

--
-- Table structure for table `gene_disease`
--

DROP TABLE IF EXISTS `gene_disease`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gene_disease` (
  `Gene_id` varchar(10) NOT NULL,
  `Disease_id` varchar(10) NOT NULL,
  `PMID` varchar(20) NOT NULL,
  PRIMARY KEY (`Gene_id`,`Disease_id`,`PMID`),
  KEY `Disease_id` (`Disease_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gene_disease`
--

/*!40000 ALTER TABLE `gene_disease` DISABLE KEYS */;
/*!40000 ALTER TABLE `gene_disease` ENABLE KEYS */;

--
-- Table structure for table `metabolite_food`
--

DROP TABLE IF EXISTS `metabolite_food`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metabolite_food` (
  `Metabolite_id` varchar(10) NOT NULL,
  `Food_id` varchar(10) NOT NULL,
  PRIMARY KEY (`Food_id`,`Metabolite_id`),
  KEY `Metabolite_id` (`Metabolite_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metabolite_food`
--

/*!40000 ALTER TABLE `metabolite_food` DISABLE KEYS */;
INSERT INTO `metabolite_food` VALUES ('Me00001','F000001'),('Me00001','F000002'),('Me00001','F000003'),('Me00001','F000004'),('Me00001','F000005'),('Me00001','F000006'),('Me00001','F000007'),('Me00001','F000008'),('Me00001','F000009'),('Me00001','F000010'),('Me00001','F000011'),('Me00001','F000012');
/*!40000 ALTER TABLE `metabolite_food` ENABLE KEYS */;

--
-- Table structure for table `metabolite_target`
--

DROP TABLE IF EXISTS `metabolite_target`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metabolite_target` (
  `Metabolite_id` varchar(10) NOT NULL,
  `Gene_id` varchar(10) NOT NULL,
  `Alteration` varchar(20) DEFAULT NULL,
  `PMID` varchar(20) NOT NULL,
  PRIMARY KEY (`Metabolite_id`,`Gene_id`,`PMID`),
  KEY `Gene_id` (`Gene_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metabolite_target`
--

/*!40000 ALTER TABLE `metabolite_target` DISABLE KEYS */;
/*!40000 ALTER TABLE `metabolite_target` ENABLE KEYS */;

--
-- Table structure for table `metabolites`
--

DROP TABLE IF EXISTS `metabolites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metabolites` (
  `Metabolite_id` varchar(10) NOT NULL,
  `Metabolite_name` varchar(255) NOT NULL,
  `PubChem_ID` varchar(20) DEFAULT NULL,
  `ChEBI_ID` varchar(20) DEFAULT NULL,
  `HMDB_ID` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`Metabolite_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metabolites`
--

/*!40000 ALTER TABLE `metabolites` DISABLE KEYS */;
/*!40000 ALTER TABLE `metabolites` ENABLE KEYS */;

--
-- Table structure for table `microbe_metabolite`
--

DROP TABLE IF EXISTS `microbe_metabolite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `microbe_metabolite` (
  `Microbe_id` varchar(10) NOT NULL,
  `Metabolite_id` varchar(10) NOT NULL,
  `PMID` varchar(20) NOT NULL,
  PRIMARY KEY (`Microbe_id`,`Metabolite_id`,`PMID`),
  KEY `Metabolite_id` (`Metabolite_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `microbe_metabolite`
--

/*!40000 ALTER TABLE `microbe_metabolite` DISABLE KEYS */;
/*!40000 ALTER TABLE `microbe_metabolite` ENABLE KEYS */;

--
-- Table structure for table `microbes`
--

DROP TABLE IF EXISTS `microbes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `microbes` (
  `Microbe_id` varchar(10) NOT NULL,
  `GM_name` varchar(255) NOT NULL,
  `NCBI_ID` varchar(50) DEFAULT NULL,
  `GM_Rank` varchar(255) DEFAULT NULL,
  `Strain` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Microbe_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `microbes`
--

/*!40000 ALTER TABLE `microbes` DISABLE KEYS */;
/*!40000 ALTER TABLE `microbes` ENABLE KEYS */;

--
-- Table structure for table `targets`
--

DROP TABLE IF EXISTS `targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `targets` (
  `Gene_id` varchar(10) NOT NULL,
  `Gene_name` varchar(255) NOT NULL,
  `Gene_symbol` varchar(50) DEFAULT NULL,
  `NCBI_geneID` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Gene_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `targets`
--

/*!40000 ALTER TABLE `targets` DISABLE KEYS */;
/*!40000 ALTER TABLE `targets` ENABLE KEYS */;

--
-- Dumping routines for database 'gutdb'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-07  1:33:16
